stages:
  - deploy

deploy:
  stage: deploy
  only:
    - main
  before_script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H 192.168.42.16 >> ~/.ssh/known_hosts
    - echo "$(date '+%Y-%m-%d %H:%M:%S') - Starting deployment"
script:
  - TIMESTAMP=$(date '+%Y-%m-%d_%H-%M-%S')
  - ssh root@192.168.42.16 "kubectl rollout restart deployment portfolio-website | tee ~/deployment_logs/deploy_$TIMESTAMP.log"

