stages:
  - test

test-shell-executor:
test-runner:
  stage: test
  tags:
    - shell
  script:
    - echo "Testing shell executor"
    - uname -a
    - ls -l /
    - echo "Runner test successful"
