apiVersion: v1
kind: Service
metadata:
  name: portfolio-website
spec:
  type: LoadBalancer
  selector:
    app: portfolio-website
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
