---
- name: Deploy Portfolio Website
  hosts: localhost
  gather_facts: no
  vars:
    image_name: "agonzaga/portfolio-website:latest"
    deployment_name: "portfolio-website"
    project_dir: "/Users/alex/Code/Personal-Portfolio-Site"  # Adjust this if needed
  
  tasks:
    - name: Build Docker image locally
      command: docker build -t {{ image_name }} .
      args:
        chdir: "{{ project_dir }}"
    
    - name: Push Docker image to registry locally
      command: docker push {{ image_name }}
      args:
        chdir: "{{ project_dir }}"
    


---
- name: Restart Kubernetes Deployment
  hosts: bl-mp1
  become: true
  gather_facts: no
  vars:
    deployment_name: "portfolio-website"
  tasks:
    - name: Restart Kubernetes deployment
      command: kubectl rollout restart deployment {{ deployment_name }}
    - name: Watch deployment rollout status
      command: kubectl rollout status deployment {{ deployment_name }}
